#
# Crontab for water-crawls
#
# Install this using:
#   sudo cp crontab /etc/cron.d/water-crawls
#
ROOT=/home/anand/water-crawls

5 * * * * anand cd $ROOT/bwssb && ../venv/bin/python bwssb.py download >> $ROOT/water-crawls.log 2>&1
10 * * * * anand cd $ROOT/kspcb && ../venv/bin/python kspcb.py download >> $ROOT/water-crawls.log 2>&1

